@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Raleway&display=swap');

ul {}

body {
  background-color: white;
}

.content {
  min-height: 90vh;
}

figure {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  margin-bottom: 50px;
}

figure img {
  width: 100%;
}

figcaption {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  color: rgb(47, 27, 12);
  text-align: center;
}

section {
  max-width: 500px;
  margin: 0 auto;
  scroll-snap-type justify-content: space-around;
  background-color: #FFED8B;
}

section div {
  scroll-snap-align: start;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 80px;
  color: #FFED8B;
  text-align: center;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  color: black;
  text-align: left;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
}

p {
  font-family: 'Raleway', sans-serif;
  color: rgb(47, 27, 12);
}

header ul {
  display: flex;
  max-width: 400px;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
}

header li {}

li a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  color: #FFED8B;
  margin-left: 40px;
}

footer {
  max-width: 500px;
  margin: 20px auto;
  scroll-snap-type justify-content: space-around;
  text-align: center;
}
